.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 0 100px;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  height: 80px;
  position: relative;
}

.navbar-list {
  display: flex;
  list-style-type: none;
}

.navbar-item {
  margin-right: 80px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar-link:hover {
  border-bottom: 2px solid #635beb;
}

.navbar-btns {
  display: flex;
  gap: 20px;
}

.navbar-button {
  padding: 8px 20px;
  color: #e5e5e5;
  background-color: #635beb;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.navbar-btn-secundary {
  border: 2px solid #635beb;
  color: #635beb;
  background-color: #222;
}

.navbar-button:hover {
  color: #222;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.navbar-btn-secundary:hover {
  background-color: #635beb;
  color: #222;
}

.modal-background {
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.modal-header h4 {
  font-size: 26px;
}

.modal-header ion-icon {
  font-size: 26px;
  border: 1px solid #c4c4c4;
  color: #919191;
  background-color: #c4c4c4;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.modal-header ion-icon:hover {
  color: #fff;
  background-color: #635beb;
  border: 1px solid #635beb;
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.modal-body {
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal-body form label {
  margin-bottom: 10px;
}

.modal-body form label input {
  padding: 8px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #c4c4c4;
  color: #222;
  width: 300px;
}

.modal-btn {
  padding: 8px 20px;
  color: #e5e5e5;
  background-color: #635beb;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-top: 110px;
}

.modal-btn:hover {
  background-color: #c4c4c4;
  color: #222;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 690px) {
  .navbar {
    padding: 0 60px;
  }

  .navbar-item {
    margin-right: 40px;
  }
}

@media screen and (max-width: 540px) {
  .navbar {
    padding: 0 30px;
    flex-direction: column;

    padding: 20px;
    height: 120px;
  }

  .navbar-item {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .navbar-btns {
    gap: 10px;
  }
}
